.body {    
    background-color:lightblue;
    width: 100%;
    padding: 0px;
}

a{
    color: red;
}

#form1 {    
    background-color: lightblue; 
    padding: 5px;
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-right: -1px;
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 44%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 700px; /*Altura de 500 pixels*/   
}

#form2 {  
    background-color: lightblue; 
    padding: 5px;
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-right: -1px;
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 54%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 700px; /*Altura de 500 pixels*/    
}

#consultaCPF {
    background-color: lightblue; 
    padding: 0px;
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-right: 0px;
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 29.1%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 700px; /*Altura de 500 pixels*/
}
#resultadodaconsultaCPF {
    background-color: lightblue;/*Cor de fundo*/    
    padding: 0px;/*Margen interna de 3 pixels*/
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-right: 8%;
    float: right;/*propriedade indicando que a Área flutuará a direita*/
    margin-left: 1%;
    width: 60%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 700px;/*Altura de 494 pixels*/
}
#resultadodaatualizacao{
    background-color: lightblue;/*Cor de fundo*/    
    padding: 0px;/*Margen interna de 3 pixels*/
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-bottom: 300px;
    margin-right: 8%;    
    margin-left: 1%;
    width: 60%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 700px;/*Altura de 494 pixels*/   
    
}

#excluirCPF {
    background-color: lightblue;/*Cor de fundo*/     
    margin-top: 0px;/*Margen superior com 1 pixel*/
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 700px;/*Altura de 494 pixels*/
}

td,th {
        
        border: 1px solid #dddddd;
        text-align: left;
        padding: 6px;
    }   
    
    tr:nth-child(even){background-color: beige;}
    tr:nth-child(odd){background-color: burlywood;}
    
    
.footer {float: left; width: 100%; background-color:cadetblue; text-align: center; padding: 2px; margin-top: 200px; 
        margin-left: 0%; bottom: 0px;}


